/* CONTAINER */

.container_background.style_grey_bg {
        color:grey;
        border:1px solid rgba(0, 0, 0, 0.2);
        overflow: hidden;
        background-color: rgba(53, 53, 53, 0.8);
        padding:10px;
        margin-bottom:1px;
}
.container_background.style_black_bg {
        color:black;
        border:1px solid rgba(0, 0, 0, 0.2);
        overflow: hidden;
        background-color: rgba(53, 53, 53, 0.8);
        padding:10px;
        margin-bottom:1px;
}
.container_background.style_white_bg {
        color:white;
        border:1px solid rgba(0, 0, 0, 0.2);
        overflow: hidden;
        background-color: rgba(53, 53, 53, 0.8);
        padding:10px;
        margin-bottom:1px;
}
.container_background.style_split1 {
        padding:10px;
        margin-bottom:1px;
}
